.footer {
  background-color: #2C2B2B;
  text-align: center;
  padding: 30px;
}

.footer a {
  font-size: 30px;
  color: #6C63FF;
  transition: background 1s;
}

.footer a:hover {
  color: white;
}

.links {
  padding: 15px;
  margin: 40px auto;
}

p {
  color: lightslategrey;
}
